@import "tailwindcss";

@theme {
  --color-lightgreen: #C8F88A;
  --color-brown: #E6D9B6;
  --color-milk: #F3F4EE;
  --color-darkgreen: #245333;
  --font-laybar: var(--font-laybar);
  --font-inter: var(--font-inter);
}

body {
  background: var(--color-milk);
  font-family: var(--font-inter);
}